*.pyc
*.egg-info
build/
dist/
skein/java/
skein/proto/*_pb2*.py
docs/build/
.cache/
.coverage
.pytest_cache/
.eggs/
.DS_Store
htmlcov/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
